{{!-- <title>{{student.firstName}} {{student.secondName}} Profile</title> --}}
<style>
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .profile-container {
    margin-top: 20px;
    display: flex;
    border-radius: 30px;
    background-color: rgb(225, 225, 225);
    padding: 20px;
  }
</style>

<section>
  <div class="container">

    <div class="profile-container">
      <img src="/images/student/{{student._id}}.jpg" alt="Profile Image" class="profile-image" />
      <div class="profile-details ms-5">
        <h2>{{student.firstName}} {{student.secondName}}</h2>
        <p>Age: {{student.age}}</p>
        <p>Sex: {{student.sex}}</p>
        <p>Class: {{student.class}}</p>
        <p>Place: {{student.place}}, State: {{student.state}}</p>
        <p>Mobile:{{student.mobile}}</p>
        <p>Email: {{student.email}}</p>
      </div>
      {{#if principal}}
      <div class="profile-actions">
        <a href="/principal/edit-student/{{student._id}}" class="btn btn-secondary" id="editButton">Edit</a>
        <a class="btn btn-danger" id="removeButton" onclick="confirmRemove()">Remove</a>
      </div>
      {{else}}
      {{/if}}
    </div>

    <div class="profile-container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">Attendance</h1>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Total Days</th>
                  <th scope="col">Present</th>
                  <th scope="col">Percentage</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{workingDays}}</td>
                  <td>{{student.attendance.present}}</td>
                  <td id="attendancePercentage">{{student.attendance.percentage}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="profile-container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">Mark</h1>
        </div>
        <div class="row">
          <div class="col-12">
            {{#if student.mark}}
            <table class="table">
              <thead>
                <tr>
                  <th>Subject</th>
                  <th>Student Mark</th>
                </tr>
              </thead>
              <tbody>
                {{#each student.mark}}
                <tr>
                  <td>{{@key}}</td>
                  <td>
                    <form class="updateMarkForm" data-student-id="{{../studentId}}" data-subject="{{@key}}">
                      <input type="number" name="mark" value="{{this}}" required />
                      <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                  </td>
                </tr>
                {{/each}}




              </tbody>
            </table>

            {{else}}
            <a href="/teacher/add-mark/{{student._id}}" class="btn btn-primary">Add mark</a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<script>
  function confirmRemove() { var result = confirm("Are you sure you want toremove this student?"); if (result) { window.location.href = "/principal/remove-student/{{student._id}}"; } }
  document.addEventListener("DOMContentLoaded", () => {
    const updateMarkForms = document.querySelectorAll(".updateMarkForm");
    updateMarkForms.forEach(form => {
      form.addEventListener("submit", async (event) => {
        event.preventDefault();
        const formData = new FormData(form);
        const mark = formData.get("mark");
        const studentId = form.getAttribute("data-student-id");
        const subject = form.getAttribute("data-subject");
        try {
          const response = await fetch("/teacher/update-student-mark", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ studentId, subject, mark }),
          });
          if (response.ok) {
            // Update the UI to reflect the new mark value
            // You may need to reload the page or update specific elements
          } else {
            console.error("Failed to update mark");
          }
        } catch (error) {
          console.error("Error updating mark:", error);
        }
      });
    });
  });





</script>