<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal Profile</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #1B262C;
            color: #BBE1FA;
            margin: 0;
            align-items: center;
            min-height: 100vh;
        }

        .container {
            background-color: #0F4C75;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            max-width: 600px;
            width: 100%;
            text-align: left;
            /* Align content to left */
        }

        #profile-pic {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: 0 auto 20px;
            /* Center profile picture */
            background-color: #3282B8;
            /* Placeholder for profile picture */
        }

        .btn {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #BBE1FA;
            color: #0F4C75;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #1B262C;
            color: #BBE1FA;
        }

        .message-input {
            padding: 10px;
            margin-bottom: 20px;
            width: 100%;
            border-radius: 5px;
            border: 1px solid #BBE1FA;
            background-color: #3282B8;
            color: #FFFFFF;
            box-sizing: border-box;
        }

        .message-input::placeholder {
            color: #FFFFFF;
            opacity: 1;
        }

        .call-icon {
            font-size: 24px;
        }

        span {
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="container mt-5 mb-5">
        <img id="profile-pic" src="/images/teacher/{{staff._id}}.jpg"
            alt="principal photo not supported">
        <p><strong>Name: </strong><span>{{staff.firstName}} {{staff.secondName}}</span></p>
        <p><strong>Age:</strong> <span>{{staff.age}}</span></p>
        <p><strong>Sex:</strong> <span>{{staff.sex}}</span></p>
        <p><strong>Place:</strong> <span>{{staff.place}}</span></p>
        <p><strong>Qualification:</strong> <span>{{staff.qualification}}</span></p>
        <p><strong>Phone Number:</strong> <span>{{staff.mobile}}</span></p>
        <p><strong>Email:</strong> <span>{{staff.email}}</span></p>

        
        <input type="text" class="message-input" id="message" placeholder="Type your message...">
        <button class="btn" onclick="sendMessage()">Send Message</button>
        <button class="btn" onclick="callTeacher()">Call Teacher</button>

        {{#if principal}}
        <div class="controle-section mt-5">
            <a href="/principal/remove-teacher/{{staff._id}}" onclick="removeTeacher()" class="btn btn-danger">Remove Teacher</a>
            <a href="/principal/edit-teacher/{{staff._id}}" class="btn btn-danger">Edit Teacher</a>
        </div>
        {{/if}}
    </div>

</body>

<script>
  function removeTeacher(){
    alert("Do you want to remove this teacher?")
  }
</script>

</html>