<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #1B262C; /* Dark background */
    margin: 0;
  }
  .container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section {
    display: flex;
    margin-bottom: 20px;
  }
  .button {
    background-color: #0F4C75; /* Darker card color */
    color: #BBE1FA; /* Light text */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
  }
  .button:hover {
    background-color: #3282B8; /* Lighter button color on hover */
    color: #fff;
  }
  .card {
    background-color: #0F4C75; /* Darker card color */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    color: #BBE1FA; /* Light text */
    margin: 10px;
    max-width: 400px;
    width: calc(100% - 40px);
  }
  .date {
    font-size: 14px;
    color: #BBE1FA; /* Light text */
  }
  .title {
    font-size: 24px;
    margin: 10px 0;
  }
  .description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  .tag {
    font-size: 14px;
    color: #BBE1FA; /* Light text */
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #BBE1FA;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
  }
  .tag:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }
</style>

<section>
  <div class="container">
    
    {{#if principal}}
      <div class="section">
        <a href="/principal/create-announcement" class="button">Add Announcements</a>
        <a href="/principal/request-announcements" class="button">View Requests</a>
      </div>
    {{else if teacher}}
      <div class="section">
        <a href="/teacher/request-announcement" class="button">Send Request</a>
      </div>
    {{/if}}
    
    {{#each announcements}}
      <div class="card">
        <div class="date">{{this.date}}</div>
        <div class="title">{{this.title}}</div>
        <div class="description">{{this.description}}</div>
        {{#if ../principal}}
          <a  class="tag">Edit</a>
          <a onclick="confirmDelete('{{this._id}}')" class="tag">Delete</a>
        {{/if}}
      </div>
    {{/each}}
    
  </div>
</section>

<script>
  function confirmDelete(announcementId) {
      // Show a confirmation dialog
      const isConfirmed = confirm('Are you sure you want to delete this announcement?');
      
      if (isConfirmed) {
          // If confirmed, redirect to the delete route
          window.location.href = `/principal/delete-announcement/${announcementId}`;
      }
  }
</script>

