<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Tracker</title>
    <style>
        body {
            background-color: #1B262C;
            color: #BBE1FA;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            height: 100vh;
        }

        section {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .container {
            width: 80%;
            /* Adjusted width */
            padding: 20px;
            border-radius: 10px;
            background-color: #0F4C75;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            margin-bottom: 20px;
            /* Added margin between containers */
        }

        /* Rest of the CSS remains the same */

        h2 {
            color: #BBE1FA;
            margin-bottom: 10px;
        }

        .btn {
            background-color: #3282B8;
            color: #BBE1FA;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #1B262C;
        }

        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #BBE1FA;
        }

        input[type="text"],
        input[type="number"] {
            padding: 5px;
            border-radius: 3px;
            border: 1px solid #BBE1FA;
            width: calc(50% - 5px);
            margin-right: 5px;
        }

        .update-btn,
        .remove-btn {
            background-color: #3282B8;
            color: #BBE1FA;
            border: none;
            padding: 5px 10px;
            border-radius: 3px;
            cursor: pointer;
        }

        .update-btn:hover,
        .remove-btn:hover {
            background-color: #1B262C;
        }
    </style>
</head>

<body>
    <section>
        <div class="container">
            <div class="working-days">
                <h2>Total Working Days</h2>
                <div>
                    <button class="btn" onclick="updateWorkingDays(-1)">-</button>
                    <span id="working-days">{{workingDays}}</span>
                    <button class="btn" onclick="updateWorkingDays(1)">+</button>
                </div>
                <h2>Today</h2>
                <p id="today-date">{{currentDate}}</p>
            </div>
        </div>
        <div class="container">

            <div class="control-subjects">
                <h2>Control Subjects</h2>
                <div class="add-subject">
                    {{#if principal}}
                    <form action="/principal/add-subject" method="post">
                        <input type="text" id="subject-name" name="subject" placeholder="Subject Name">
                        <input type="number" id="total-mark" name="mark" placeholder="Total Mark">
                        <button class="btn" id="submit-subject">Submit</button>
                    </form>
                    {{/if}}
                </div>
                <table id="subject-table">
                    <thead>
                        <tr>
                            <th>Subject Name</th>
                            <th>Total Mark</th>
                            <th>Controls</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Subject rows will be added dynamically -->
                        {{#each subjects}}
                        <tr>
                            <td>{{this.subject}}</td>
                            <td>
                                {{this.mark}}
                            </td>
                            {{#if ../principal}}
                            <td>
                                <form action="/principal/update-subject-mark" method="POST">
                                    <input type="hidden" name="subjectId" value="{{this._id}}">
                                    <input type="number" name="mark" value="{{this.mark}}" required>
                                    <button type="submit" class="btn update-btn">Update</button>
                                </form>
                            </td>
                            <td><a href="/principal/delete-subject" class="btn remove-btn"
                                    data-subject-id="{{this._id}}" onclick="removeSubject(event)">Remove</a></td>
                            {{/if}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

    </section>

    <script>
        function updateCurrentDate() {
            const currentDateElement = document.getElementById('today-date');
            const currentDate = new Date().toLocaleDateString();
            currentDateElement.textContent = currentDate;
        }

        function removeSubject(event) {
            event.preventDefault();
            const subjectId = event.target.getAttribute('data-subject-id');
            const confirmation = confirm('Are you sure you want to remove this subject?');
            if (confirmation) {
                // Send an asynchronous request to delete the subject
                fetch('/principal/delete-subject', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ subjectId }),
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert('Subject removed successfully');
                            window.location.reload();
                        } else {
                            alert('Error removing subject');
                        }
                    })
                    .catch(error => console.error('Error deleting subject:', error));
            }
        }

        function updateWorkingDays(change) {
            var workingDaysLabel = document.getElementById('working-days');
            var currentWorkingDays = parseInt(workingDaysLabel.textContent);
            var newWorkingDays = currentWorkingDays + change;
            newWorkingDays = Math.max(newWorkingDays, 0);
            workingDaysLabel.textContent = newWorkingDays;

            // Send an asynchronous request to update working days on the server
            fetch('/principal/update-working-days', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ workingDays: newWorkingDays }),
            })
                .then(response => response.json())
                .then(data => console.log('Updated working days:', data.workingDays))
                .catch(error => console.error('Error updating working days:', error));
        }

        document.addEventListener('DOMContentLoaded', function () {
            updateCurrentDate();
        });
    </script>

</body>

</html>