<style>
    .box {
        background-color: rgb(236, 236, 236);
        margin-top: 10px;
        padding: 10px;
    }
</style>

<section>
    <div class="container">
        <div class="row">
            <div class="box col-12">
                <div class="top-section">
                    <h2>Working Days</h2>
                    <a class="btn btn-primary" onclick="updateWorkingDays(-1)">-</a>
                    <label for="total-working-days" id="working-days-label">{{workingDays}}</label>
                    <a class="btn btn-primary" onclick="updateWorkingDays(1)">+</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box col-12">
                <h2>Subjects</h2>
                <div class="input-subject mb-3">
                    {{#if principal}}
                    <form id="addSubjectForm" action="/principal/add-subject" method="POST">
                        <div class="form-group">
                            <label for="subjectName">Subject Name:</label>
                            <input type="text" class="form-control" name="subject" id="subjectName"
                                aria-describedby="emailHelp" placeholder="Enter subject">
                        </div>
                        <div class="form-group mb-2">
                            <label for="totalMark">Total Mark</label>
                            <input type="number" class="form-control" name="mark" id="totalMark"
                                placeholder="Total mark">
                        </div>
                        <button type="submit" class="btn btn-primary">Add subject</button>
                    </form>
                    {{/if}}
                </div>

                <!-- Display Subjects -->
                {{#if principal}}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Total Mark</th>
                            <th>Controls</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each subjects}}
                        <tr>
                            <td>{{this.subject}}</td>
                            <td>
                                <form action="/principal/update-subject-mark" method="POST">
                                    <input type="hidden" name="subjectId" value="{{this._id}}">
                                    <input type="number" name="mark" value="{{this.mark}}" required>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </form>
                            </td>
                            <td><a href="/principal/delete-subject" class="btn btn-danger"
                                    data-subject-id="{{this._id}}" onclick="removeSubject(event)">Remove</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Total Mark</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each subjects}}
                        <tr>
                            <td>{{this.subject}}</td>
                            <td>
                                {{this.mark}}
                            </td>

                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/if}}
            </div>

        </div>
    </div>
</section>

<script>
    function removeSubject(event) {
        event.preventDefault();
        const subjectId = event.target.getAttribute('data-subject-id');
        const confirmation = confirm('Are you sure you want to remove this subject?');
        if (confirmation) {
            // Send an asynchronous request to delete the subject
            fetch('/principal/delete-subject', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ subjectId }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Subject removed successfully');
                        window.location.reload();
                    } else {
                        alert('Error removing subject');
                    }
                })
                .catch(error => console.error('Error deleting subject:', error));
        }
    }

    function updateWorkingDays(change) {
        var workingDaysLabel = document.getElementById('working-days-label');
        var currentWorkingDays = parseInt(workingDaysLabel.textContent);
        var newWorkingDays = currentWorkingDays + change;
        newWorkingDays = Math.max(newWorkingDays, 0);
        workingDaysLabel.textContent = newWorkingDays;

        // Send an asynchronous request to update working days on the server
        fetch('/principal/update-working-days', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ workingDays: newWorkingDays }),
        })
            .then(response => response.json())
            .then(data => console.log('Updated working days:', data.workingDays))
            .catch(error => console.error('Error updating working days:', error));
    }





</script>